body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(235, 235, 235);
  color: rgb(91, 52, 30);
}

.body {
  text-align: center;
}

.candy_select {
  padding: 50px;
}

.heading {
  font-size: 200%;
  text-align: center;
}

.login {
  text-align: center;
  padding: 10px;
}

.navList {
  list-style-type: none;
  font-size: 150%;
  text-align: center;
  margin: 10px;
}
