<% include partials/header %>
  <h1>You have chosen to send a first class <%= type %> parcel that weighs <%= weight %> ounces</h1>
  <h1>The cost for this is: $<%= cost %></h1>



<% include partials/footer %>
